page-profile {
	video { width:100%; }
    .headerbg{ background: #1b3c71; text-align: center;}
    .headerbg .icon-right{text-align: right;}
    .top-icons { text-align: left; padding: 0 15px; color:#fff;  text-transform: capitalize;}
    .top-icons button {background: transparent; box-shadow: none; padding: 0; text-transform: capitalize; font-weight: normal;}
    .top-icons button:hover {background: transparent !important;}
     ul {margin: 0;padding: 0; list-style: none;}
    .user-img{border-radius: 50%; width:130px; height: 130px;}
    .user-live { position: absolute; margin-left: -25px;margin-top: 15px;}
    .user-name{color:#fff; padding-top: 20px; font-size: 16px; margin-bottom:12px;}
    .user-coll-age{color:#fff; font-size: 10px; padding-bottom: 20px;}
    .user-coll-age i {font-style: normal;padding: 0px 3px; }
    .user-follow{ padding-bottom: 20px;}
    .user-follow ul li {display: inline-block; border-right: 2px solid #526b93;  padding: 0px 10px;}
    .user-follow ul li h3 {margin: 0; color: #fff; font-size: 15px;}
    .user-follow ul li p { margin: 0; font-size: 10px; color: #fff;}
    .user-follow ul li:last-child{border-right: 0;} 
    .friend-box { margin: 10px;border-bottom: 1px solid #ccc; }
    .friend-box span { font-size: 15px; float: left; padding-right: 10px; padding-top: 5px; color: #333;}
    .friend-box ul li {width: 10%; display: inline-block;}
    .friend-box ul li img {border-radius: 50%; height: 35px; width: 35px;}
    .friend-box .showall { text-align: right;display: block; color: #333; font-size: 13px; text-decoration: none; padding-bottom: 5px; margin-right: 10px;}
	.teams-box { border-bottom: 1px solid #ccc; }
	.teams-box ul { display:inline-block; margin:10px; }
	.teams-box ul li { display:inline-block; margin-right: 5px;}
    .photovideo{padding: 0px 10px; font-size: 0;}
    .photovideo h4 { font-size: 15px; margin: 10px 0; font-weight: normal; color: #333;}
    .photovideo ul li { display: inline-block; width: 20%; padding: 1px;}
    .photovideo ul li img {width: 100%;}
    .status-update { background: #f4f4f4; margin: 10px; border-radius: 10px; padding: 10px;}
    .status-des{border-bottom: 1px solid #ccc; margin-bottom: 10px;}
    .status-des p {margin-top: 0;vertical-align: top;display: flex;}
    .status-des p span{color: #333; font-size: 10px; width: 100%;}
	.status-des p span textarea { width: 100%;background: #f4f4f4; border: none; box-shadow: none; font-size: 12px;}
    .status-des p img { width: 42px;  height: 42px; border-radius: 50%;  margin-right: 10px; }
	.create_post { width: 90%;float: left;}
	.status-des p span .button {background: none; padding:0; margin:0; float: right;}
	.status-des p span .button .button-inner .icon img{width: 24px; height: 24px; margin-right: 0; border-radius: 0;}
	.status-des p span .button .button-inner{width:auto;}
    .update-des {font-size: 0;}
    .update-des ul li {display: inline-block; width: 33%; text-align: center;border-right: 1px solid #ccc;}
    .update-des ul li:last-child{border-right:none;}
    .update-des ul li .button {background: none; color: #333; font-size: 11px; height: auto; padding: 0;margin: 0; box-shadow: none;}
    .update-des ul li .button-inner img {width:20px; height:20px; }
	.update-des ul li .button .icon {margin-right: 5px;}
    .all-info{margin: 20px; overflow: hidden;}
    .info-one { overflow: hidden;}
    .info-one .left {width: 12%; float: left;}
    .info-one .right {float: right; width: 88%;}
    .info-one .left img { width: 28px; height: 28px; border-radius: 50%; }
    .info-one .right h4 { font-size: 15px; font-weight: normal;  margin-top: 0;  margin-bottom: 5px;  color: #1B3C71; }
    .info-one .right p { margin-top: 0;  font-size: 11px; color: #333;}
    .info-one .right iframe{width: 100%; height: 200px;}
    .info-vote{border-top: 1px solid #ccc; border-bottom: 1px solid #ccc; padding: 5px 0; margin-top: 7px;}
    .info-vote li {display: inline-block; font-size: 10px; padding-left: 4%; color: #333;}
    .info-vote li:first-child {padding-left: 0;}
    .info-vote li img { padding-right: 4px; width: 14px;}
    .totle-comm {padding: 5px 0;border-bottom: 1px solid #ccc;}
    .totle-comm li{display: inline-block; font-size: 11px; color: #333;}
    .totle-comm li:last-child{float: right;}
    .info-two{background: #f4f4f4; margin: 10px 0; border-radius: 10px; padding: 10px; overflow: hidden;}
    .info-two .left{width: 78%; float: left;}
    .info-two .right{width: 20%; float: right;}
    .info-two .left p, .info-two .right p {margin: 0;}
    .info-two .left p img {width: 28px;height: 28px;border-radius: 50%;float: left;}
    .info-two .left p span, .info-two .right p span {font-size: 10px;color: #333; margin-left: 10px;}
    .info-two .right p img {float: left;}
    .info-three { padding: 10px;}
    .info-three .left { float: left; width: 10%; margin-right: 3%;}
    .info-three .left img {border-radius: 50%;width: 32px;height: 32px;}
    .info-three .right {float: right; width: 87%;}
    .info-three .right h6 { font-size: 14px; color: #000; margin-top: 0;margin-bottom: 0;}
    .info-three .right small {font-size: 10px;color: #333;}
    .info-three .right time {float: right;font-size: 12px;color: #333;margin-top: -16px;}
    .info-three .right p{margin: 5px 0 0 ; font-size: 10px; color: #333;}
    .info-three .right .info-vote {border-top: none; border-bottom: none; padding: 2px 0; margin-top: 5px; }
    .info-three li {display: inline-flex; margin-top: 15px; width:100%; }
    .info-three li:first-child{margin-top:0;}
    .info-three .right .info-vote li{margin-top:0; display: inline-block;}
	.footer { background: #fff !important; }
    .footer ion-icon { font-size: 15px;  color: #333; width: 40%; }
    .footer .camera {background: #FF6700; padding: 9px; border-radius: 50%; width: 42px; height: 42px; color: #fff; font-size: 24px;}
	.footer ion-icon img {width: 22px; margin: 0px;}
}
