<!--
  Generated template for the ProfilePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-content>
  <div class="headerbg">
    <ion-row class="top-icons">
      <ion-col col-6 col-sm-6 col-md-6 col-lg-6 col-xl-6>
        <button ion-button icon-left (click)="backtomain()">
          <ion-icon name="arrow-back"></ion-icon>
          Back
        </button>
      </ion-col>
      <ion-col col-6 col-sm-6 col-md-6 col-lg-6 col-xl-6 class="icon-right">
        <button ion-button menuToggl>
          <ion-icon name="menu" style="color: #fff; font-size: 2.2em;"></ion-icon>
        </button>
      </ion-col>
    </ion-row>
    <div class="profile-info">
      <div class="user-pro">
        <img class="user-img" (click)="takePhoto()" src="{{userProfileData.profilePicture}}" alt="profile"> 
        <img class="user-live" src="assets/imgs/live-icon.png" alt="live">
      </div>
      <div class="user-name">{{userProfileData.userName}}</div>
      <!-- <div class="user-coll-age">College Name<i>|</i> <Span>24 year old</Span></div> -->
      <div class="user-follow">
        <ul>
          <!-- <li><h3>2055</h3>
            <p>Followers</p></li> -->
          <li><h3>{{userProfileData.userFollowersCount}}</h3>
            <p>Following</p></li>
          <li><h3>0</h3>
            <p>Trophies won</p></li>
          <li><h3>0</h3>
            <p>Videos shared</p></li>
			<li><h3>#</h3>
            <p>Rank</p></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="friend-box">
    <span>Friends</span>
		<ul>
			<li *ngFor="let follower of this.userProfileData.userFollowers; let id = index"><img src="{{follower.image}}" alt="Friends"></li>
		</ul>
      <a class="showall" href="#">Show All</a>
  </div>
  <div class="teams-box">
    <span>Teams:</span>
		<ul>
			<li *ngFor="let team of this.userProfileData.userTeams; let id = index">{{team}}, </li>
		</ul>
  </div>
  <div class="photovideo">
    <h4>Photos & Videos</h4>
      <ul>
        <li *ngFor="let post of this.userProfileData.userPosts; let id = index">
			<img src="{{post}}" alt="Photos">
			<video controls >
				<source src="{{post}}#t=1" type="video/mp4">
			</video>
		</li>
      </ul>
  </div>
  <div class="status-update">
    <div class="status-des">
      <p><img src="{{userProfileData.profilePicture}}" alt="status">
	  <span>
		<!-- <textarea cols="2" rows="3" placeholder="Post a status update"></textarea> -->
		<div contentEditable="true" class="create_post">
			<div class="post_tags">{{userProfileData.postTags}}</div>
			<div class="post_checkedin">{{userProfileData.postCheckedin}}</div>
			<textarea cols="2" rows="3" [(ngModel)]="userProfileData.postText" placeholder="Post a status update">{{this.userProfileData.postText}}</textarea>
			<div class="post_media" *ngIf="userProfileData.postType!=''">
				<video *ngIf="userProfileData.postType == 'Video'" controls >
					<source src="{{userProfileData.postMedia}}#t=1" type="video/mp4">
				</video>
				<img *ngIf="userProfileData.postType == 'Image'" src="{{userProfileData.postMedia}}">
			</div>
		</div>
		<button ion-button (click)="createPost()"><ion-icon><img src="assets/imgs/pro-send-icon.png" alt="send"></ion-icon></button>
	  </span>
	  </p>
    </div>
    <div class="update-des">
      <ul>
        <li><button ion-button (click)="uploadPostimgvideo()"><ion-icon><img src="assets/imgs/images-group-icon.png" alt="Photos"></ion-icon>Media</button></li>
        <li><button ion-button (click)="getLocation()"><ion-icon><img src="assets/imgs/checkin-icon.png" alt="Check in"></ion-icon>Check In</button></li>
        <li><button ion-button (click)="tagFriends()"><ion-icon><img src="assets/imgs/pro-user-icon.png" alt="Tag Friends"></ion-icon>Tag Friends</button></li>
      </ul>
    </div>   
  </div>
  <div class="all-info">
    <div class="info-one">
      <div class="left"><img src="{{userProfileData.profilePicture}}" alt="status"></div>
      <div class="right">
        <!-- <h4>James doe shared a video of soccer</h4> -->
		<div class="post_tags">{{userProfileData.latestPost.tags}}</div>
		<div class="post_checkedin">{{userProfileData.latestPost.checkedin}}</div>
		<div *ngIf="userProfileData.latestPost.type !=''">
		<video *ngIf="userProfileData.latestPost.type == 'Video'" controls>
			<source src="{{userProfileData.latestPost.url}}#t=1" type="video/mp4">
		</video>
		<img *ngIf="userProfileData.latestPost.type == 'Image'" src="{{userProfileData.latestPost.url}}">
		</div>
        <p>{{this.userProfileData.latestPost.description}}</p>
        <div class="info-vote">
          <ul>
            <li>{{this.userProfileData.latestPost.likes}} Likes</li>
            <!-- <li><img src="assets/imgs/thumbs-icon.png" alt="thumbs-icon">Vote this video</li> -->
            <li><img src="assets/imgs/comment-icon.png" alt="comment-icon">{{this.userProfileData.latestPost.commentsCount}} Comments</li>
            <!-- <li><img src="assets/imgs/heart-icon.png" alt="heart-icon">Like</li>
            <li><img src="assets/imgs/share-icon.png" alt="share-icon">Share</li> -->
          </ul>
          </div>
          <div class="totle-comm">
            <ul>
              <li>Comments</li>
              <li>{{this.userProfileData.latestPost.commentsCount}} comments</li>
            </ul>
          </div>
      </div>
    </div>
    <!-- <div class="info-two">
      <div class="left">
          <p><img src="{{userProfileData.profilePicture}}" alt="status"><!-- <textarea cols="2" rows="3" [(ngModel)]="userProfileData.postText" placeholder="Post a status update">{{this.userProfileData.postText}}</textarea> --><!-- <span>Leave Comment</span></p>
      </div>
		<div class="right">
          <p (click)="createPostComment()"><img src="assets/imgs/pro-send-icon.png" alt="Post"> <span>Post</span></p>
		</div>
    </div> -->
    <div class="info-three">
      <ul>
        <li *ngFor="let comment of this.userProfileData.latestPost.comments; let id = index">
        <div class="left"><img src="{{comment.profilepic}}" alt="status"></div>
        <div class="right">
          <h6>{{comment.name}}</h6>
          <small>College name</small>
          <time>1 min <span>&hellip;</span></time>
          <p>{{comment.comment}}</p>
			 <div class="info-vote">
              <!-- <ul>
                <li><img src="assets/imgs/heart-icon.png" alt="heart-icon">Like</li>
                <li><img src="assets/imgs/comment-icon.png" alt="comment-icon">Comment</li>
              </ul>-->
            </div> 
        </div>
      </li>
    </ul>
    </div>
  </div>
</ion-content>
<ion-footer>
  <ion-toolbar>
    <div class="footer">
      <!-- <ion-icon><img src="assets/imgs/footer-share-icon.png" alt="Share"><span>Share</span></ion-icon> -->
      <ion-icon (click)="getchallenge()"><img src="assets/imgs/footer-vs-icon.png" alt="Challenge"><span>Challenge</span></ion-icon>
      <ion-icon  class="camera"><img src="assets/imgs/footer-camera-icon.png" alt="camera"></ion-icon>
      <ion-icon (click)="getRewardsPage()"><img src="assets/imgs/footer-reward-icon.png" alt="Rewards"><span>Rewards</span></ion-icon>
      <!-- <ion-icon><img src="assets/imgs/footer-search-icon.png" alt="Search"><span>Search</span></ion-icon> -->
    </div>
  </ion-toolbar>
</ion-footer>