<ion-header>
  <ion-row class="headerbg" style="padding-top: 10px;"> 
      <ion-title>
        <div class="toggle_btn_sec">
          <button ion-button menuToggle style="order: 1; background-color: #1b3d72;">
              <ion-icon name="menu" style="color: #fff; font-size: 2.2em;"></ion-icon> 
            </button>
          </div>
      <span style="margin-top: 6px; float: left; position: relative; top: 5px;"><img src="assets/imgs/usericon.png" alt="img" style="float: left; width: 30px; margin-right: 8px;"> <b>{{userDetails.name}}</b></span>
      </ion-title>
        <ion-buttons end>
      <button ion-button (click)="logout()" style="order: 1; background-color: #1b3d72;">
        <ion-icon name="log-out" style="color: #fff; font-weight: bold; font-size: 2em;"></ion-icon>
      </button>
    </ion-buttons>
  </ion-row>
</ion-header>

<ion-content class="home">
  <!-- <h3>Welcome in SFC</h3>
  <p>Your Email is: {{email}}</p> -->  
  <div class="home-banner" *ngFor="let featurevideo of featurevideoposts"> 
    <video controls >
      <source src="{{featurevideo.videourl}}#t=1" type="video/mp4">
    </video> 
  </div> 

  <!--<ion-item id="udpateBox">
    <textarea #updatebox [(ngModel)]="userPostData.feed" autofocus></textarea>
    <ion-row>
        <ion-icon ios="ios-send" md="md-send" (click)="feedUpdate()"></ion-icon>
    </ion-row>
  </ion-item>

  <ion-card *ngFor="let item of dataSet; let msgIndex = index">
    <ion-item>
        <b>{{userDetails.name}}</b>
      <ion-icon name="trash" item-right (click)="feedDelete(item.feed_id, msgIndex)"></ion-icon>
      <ion-card-content>
        <p [innerHTML]="item.feed | linky"></p>
        <span>{{this.converTime(item.created) | amTimeAgo}}</span>
      </ion-card-content>
    </ion-item>
  </ion-card>

  <ion-card *ngIf="noRecords">
    <ion-item>
      No Records
    </ion-item>
  </ion-card> -->
	<div class="last-winner">
		<ion-grid>
			<ion-row>
				<h2><span>Last Week Winner</span></h2>
				<video controls >
					<source src="http://sfc.dimensiongraphic.com/sfc-app/api/userProfileImage/12/media/egR5tNsl_trim.46507AB6-D940-4DEE-8001-F8C9782A1B51.MOV#t=1" type="video/mp4">
				</video>
			</ion-row>
		</ion-grid>	
	</div>
  <div class="">
		<ion-grid *ngIf="photos=='No Post Found!'">
			<ion-row style="text-align: center;display: block;margin-top: 10px;">
				<h2><span>Latest Uploaded Videos</span></h2>
			  <div style="text-align:center;margin-top:20px;">No posts found!</div>
			</ion-row>
		</ion-grid>
	  <ion-grid>
		<ion-row *ngIf="photos!='No Post Found!'">
			<h2><span>Latest Uploaded Videos</span></h2>
			<ion-col col-12 *ngFor="let photo of photos; let id = index">
				<ion-card class="block">
				<!-- <img [src]="photo.url" *ngIf="photo" /> -->
				<div class="create_post">
					<div class="post_tags">{{photo.tags}}</div>
					<div class="post_checkedin">{{photo.checkedin}}</div>
					{{photo.post_desc}}
					<div class="post_media" *ngIf="photo.type !=''">
						<video *ngIf="photo.type == 'Video'" controls >
							<source src="{{photo.media}}#t=1" type="video/mp4">
						</video>
						<img *ngIf="photo.type == 'Image'" src="{{photo.media}}">
					</div>
				</div>
				<div class="comment">
					  {{photo.likes}} <ion-icon ios="ios-thumbs-up" md="md-thumbs-up" name="like" (click)="likePhoto(photo.id)"></ion-icon>
					  <!-- <ion-icon ios="ios-thumbs-down" md="md-thumbs-down"></ion-icon> -->
					  {{photo.share}} <ion-icon ios="ios-share-alt" md="md-share-alt" name="share" (click)="sharePhoto(photo.id)"></ion-icon>
					  <!-- <ion-icon name="trash" class="deleteIcon" (click)="deletePhoto(photo.id,id)"></ion-icon> -->
					  <ion-icon ios="ios-share" md="md-share" (click)="shareInfo(photo.url)"></ion-icon>
				</div>
				<div class="commnt_input">
					  <ion-item>
						<ion-input type="text" placeholder="Comment" #newComment
						(keyup.enter)="addComment(photo.id,newComment.value); newComment.value=''"
						(blur)="addComment(photo.id,newComment.value); newComment.value='' "></ion-input>
					  </ion-item>
					  <ion-icon ios="ios-send" md="md-send"></ion-icon>
					  <ul>
						<li *ngFor="let comment of photo.comments">
							<div class="left"><img src="assets/imgs/user-pro3.jpg" alt="status"></div>
							<div class="right">
							  <h6>Test</h6>
							  <p>{{comment.comment}}</p>
							  <ion-icon name="trash" class="deleteIcon" (click)="deletecomnt();" style="font-size: 16px;"></ion-icon>
							</div>
						</li>
					  </ul>
				</div>

				</ion-card>
			</ion-col>
		</ion-row>
	  </ion-grid>
  </div>

  <div class="schedule_sec">
      <h2><span>Match Schedule</span></h2>
    <ul>
      <li *ngFor="let matchschedule of matchscheduleposts">
          <img src="{{matchschedule.matchimageurl}}" alt="img">
          <b>{{matchschedule.matchdate}}</b>
      </li>
      
    </ul>
  </div>
  <div class="home-blog">
    <h2><span>Top HeadLines</span></h2>
    <div class="border-btm" *ngFor="let topheadline of topheadlineposts; let i = index; let odd = odd" [class.odd]="odd">
      <h3>{{topheadline.headlinetitle}}</h3>
      <div class="left"><img src="{{topheadline.headlinedimage}}" alt="img"></div>
      <div class="right"><p>{{topheadline.headlinedescription}}</p></div>
    </div>
  </div>
</ion-content>
<ion-footer>
  <ion-toolbar>
    <div style="background: #1c3d71; padding: 10px 0;">
    <ion-icon ios="ios-apps" md="md-apps" (click)="newsfeeds()"><span>News Feed</span></ion-icon>
    <ion-icon ios="ios-people" md="md-people" (click)="followfrndsPage()"><span>Follow Friends</span></ion-icon>
    <ion-icon ios="ios-camera" md="md-camera" (click)="createPost()"><span>Add Video</span></ion-icon>
    <!-- <ion-icon ios="ios-notifications" md="md-notifications"><span>Notifications</span></ion-icon> -->
    <!-- <ion-icon ios="ios-locate" md="md-locate" (click)="getGeo()"><span>Geo Location</span></ion-icon> -->
    <!-- <ion-icon ios="ios-menu" md="md-menu"><span>More</span></ion-icon> -->
  </div>
  </ion-toolbar>
</ion-footer>