<!--
  Generated template for the ContestinnerPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->

<ion-content>
  <div class="headerbg">
    <ion-row class="top-icons">
      <ion-col col-3 col-sm-3 col-md-3 col-lg-3 col-xl-3>
        <button ion-button icon-left (click)="backtoContestSelected()">
          <ion-icon name="arrow-back"></ion-icon>
          Back
        </button>
      </ion-col>
      <ion-col col-6 col-sm-6 col-md-6 col-lg-6 col-xl-6>
        <div class="searchbox">
          <ion-searchbar placeholder="Search here"></ion-searchbar>
        </div>
      </ion-col>
      <ion-col col-3 col-sm-3 col-md-3 col-lg-3 col-xl-3 class="icon-right">
        <button ion-button>
          <img class="user-img" src="{{userProfileData.profilePicture}}" alt="user">
        </button>
      </ion-col>
    </ion-row>
  </div>
  <div class="contestselected"> 
    <div class="box">
      <h4>{{challengedataSet.daysLeft}} Days Left for Winner Announcement</h4>
      <h3>{{challengedataSet.title}}</h3>
    </div>
  </div>
  <div class="all-info">
    <div class="info-one">
      <div class="left"><img src="assets/imgs/user-pro4.jpg" alt="status"></div>
      <div class="right">
        <!-- <h4>James doe shared a video of soccer</h4>
        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry Lorem Ipsum has been the industry.</p>
        <iframe src="https://www.youtube.com/embed/xNikAkGsyp0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe> -->
		<video *ngIf=" challengedataSet.type == 'video'" poster="assets/imgs/video-cover.jpg">
			<source src="{{challengedataSet.url}}" type="video/mp4">
		</video>
		<img *ngIf=" challengedataSet.type != 'video'" src="{{challengedataSet.url}}">
        <div class="info-vote">
          <ul>
			<li>Votes</li>
            <li>{{challengedataSet.votes}} Votes</li>
            <li (click)="VoteChallengePost()"><img src="assets/imgs/thumbs-icon.png" alt="thumbs-icon">Vote this video</li>
            <!-- <li><img src="assets/imgs/comment-icon.png" alt="comment-icon">Comment</li>
            <li><img src="assets/imgs/heart-icon.png" alt="heart-icon">Like</li> -->
            <li><img src="assets/imgs/share-icon.png" alt="share-icon">Share</li> 
          </ul>
          </div>
          <div class="totle-comm">
            <ul>
              <li>Comments</li>
              <li>{{challengedataSet.commentCount}} comments</li>
            </ul>
          </div>
      </div>
    </div>
    <div class="info-two">
      <div class="left">
          <p><img src="{{userProfileData.profilePicture}}" alt="status"> <span><textarea rows="2" cols="2" placeholder="Leave Comment" [(ngModel)]="challengePostData.postCommentText"></textarea></span></p>
      </div>
      <div class="right">
          <p (click)="addChallengePostComment()"><img src="assets/imgs/send.png" alt="Post"> <span>Post</span></p>
      </div>
    </div>
    <div class="info-three">
      <ul>
        <li *ngFor="let comment of comments; let id = index">
        <div class="left"><img src="{{comment.picture}}" alt="status"></div>
        <div class="right">
          <h6>{{comment.name}}</h6>
          <!-- <small>College name</small> -->
          <time>{{comment.time}} <span>&hellip;</span></time>
          <p>{{comment.comment}}</p>
			<!-- <div class="info-vote">
              <ul>
                <li><img src="assets/imgs/heart-icon.png" alt="heart-icon">Like</li>
                <li><img src="assets/imgs/comment-icon.png" alt="comment-icon">Comment</li>
              </ul>
            </div> -->
        </div>
      </li>
    </ul>
    </div>
  </div>
</ion-content>
<ion-footer>
  <ion-toolbar>
    <div class="footer">
      <!-- <ion-icon><img src="assets/imgs/footer-share-icon.png" alt="Share"><span>Share</span></ion-icon> -->
      <ion-icon><img src="assets/imgs/footer-vs-icon.png" alt="Challenge"><span>Challenge</span></ion-icon>
      <ion-icon  class="camera"><img src="assets/imgs/footer-camera-icon.png" alt="camera"></ion-icon>
      <ion-icon><img src="assets/imgs/footer-reward-icon.png" alt="Rewards" (click)="getRewardsPage()"><span>Rewards</span></ion-icon>
      <!-- <ion-icon><img src="assets/imgs/footer-search-icon.png" alt="Search"><span>Search</span></ion-icon> -->
    </div>
  </ion-toolbar>
</ion-footer>
