<!--
  Generated template for the FollowfriendsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-row class="headerbg" style="padding-top: 10px;"> 
      <ion-title>
        <div class="toggle_btn_sec">
          <button ion-button menuToggle style="order: 1; background-color: #1b3d72;">
              <ion-icon name="menu" style="color: #fff; font-size: 2.2em;"></ion-icon> 
            </button>
          </div>
      <span style="margin-top: 6px; float: left; position: relative; top: 5px;"><img src="assets/imgs/usericon.png" alt="img" style="float: left; width: 30px; margin-right: 8px;"> </span>
      </ion-title>
        <ion-buttons end>
      <button ion-button (click)="logout()" style="order: 1; background-color: #1b3d72;">
        <ion-icon name="log-out" style="color: #fff; font-weight: bold; font-size: 2em;"></ion-icon>
      </button>
    </ion-buttons>
  </ion-row>
</ion-header>


<ion-content>
 
  <ion-item *ngFor="let post of posts">
        <span><img src="{{post.image}}" width="50" height="50">{{post.name}} 
			<div *ngIf="post.checked =='true'">
				<input type="checkbox" value="{{post.name}}"  (click)="clickSelectBox(post.name)"  style="float: right;" checked="checked">
			</div>
			<div *ngIf="post.checked =='false'">
				<input type="checkbox" value="{{post.name}}"  (click)="clickSelectBox(post.name)"  style="float: right;">
			</div>
		</span>
  </ion-item>
  <div text-center>
    <button ion-button round class="bluebtn" (click)="followfriends()">Submit</button>
  </div>
 

</ion-content>

<ion-footer>
    <ion-toolbar>
      <div style="background: #1c3d71; padding: 10px 0;">
      <ion-icon ios="ios-apps" md="md-apps" (click)="newsfeeds()"><span>News Feed</span></ion-icon>
      <ion-icon ios="ios-people" md="md-people" (click)="followfrndsPage()"><span>Follow Friends</span></ion-icon>
      <ion-icon ios="ios-camera" md="md-camera" (click)="takePhoto()"><span>Add Video</span></ion-icon>
      <!-- <ion-icon ios="ios-notifications" md="md-notifications"><span>Notifications</span></ion-icon> -->
      <!-- <ion-icon ios="ios-menu" md="md-menu"><span>More</span></ion-icon> -->
    </div>
    </ion-toolbar>
  </ion-footer>
